<!DOCTYPE html>
<!--
투표자리스트 및 댓글리스트의 속성값은 post_1.ejs에서 확인할 수 있음
postInfo: {
  post_info: {
    community_operation_post_no: 6,
    voting_srt_date: '2022-11-16',
    voting_end_date: '2022-11-18',
    title: '운영 게시글 테스트1',
    contents_hash: 'QmcWwuzaTmLU2eAGa5YkcoDvuwp9KaLv3Qe5gN5UMXUabt',
    writer_addr: 'FUGZ3MLBM34UJXVTBTA5SPWOAPURQTHBE3T3AEIWRM34IWW4F4GFFXUWRA',
    is_voting_yn: 'n',
    file_hashs: 'QmTeqCUBsg27sjUQwNjPYXnZPLsNZrtnerRrJp3wu8pi3g,QmcSb4Zwkev8PFHWRsyj2yARrJVUW8oRLiJvqtKmLdTsjZ,QmTeqCUBsg27sjUQwNjPYXnZPLsNZrtnerRrJp3wu8pi3g',
    app_id: 565,
    preview_text: '운영글 텍스트 미리보기!!!',
    type: '1',
    cre_datetime: '2022-11-17 19:56',
    upd_datetime: null,
    user_name: '테스트계정3',
    user_profile_hash: 'QmcSb4Zwkev8PFHWRsyj2yARrJVUW8oRLiJvqtKmLdTsjZ',
    user_profile_url: 'http://localhost:8081/ipfs/QmcSb4Zwkev8PFHWRsyj2yARrJVUW8oRLiJvqtKmLdTsjZ',
    file_url_arr: [
      'http://localhost:8081/ipfs/QmTeqCUBsg27sjUQwNjPYXnZPLsNZrtnerRrJp3wu8pi3g',
      'http://localhost:8081/ipfs/QmcSb4Zwkev8PFHWRsyj2yARrJVUW8oRLiJvqtKmLdTsjZ',
      'http://localhost:8081/ipfs/QmTeqCUBsg27sjUQwNjPYXnZPLsNZrtnerRrJp3wu8pi3g'
    ],
    contents_str: '<html>커뮤니티 운영글 테스</html>',
    up_voting: 0,
    down_voting: 0
  },
  voter_list: null,
  comment_list: null
}
-->

<html
        lang="en"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="assets/"
        data-template="vertical-menu-template-free"
>
<head>
  <meta charset="utf-8"/>
  <meta
          name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
  />

  <title>피글 DAO</title>

  <meta name="description" content=""/>

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="assets/img/favicon/pigicon.ico"/>

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
  <link
          href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet"
  />

  <!-- Icons. Uncomment required icon fonts -->
  <link rel="stylesheet" href="assets/vendor/fonts/boxicons.css"/>

  <!-- Core CSS -->
  <link rel="stylesheet" href="assets/vendor/css/core.css" class="template-customizer-core-css"/>
  <link rel="stylesheet" href="assets/vendor/css/theme-default.css" class="template-customizer-theme-css"/>
  <link rel="stylesheet" href="assets/css/demo.css"/>

  <!-- Vendors CSS -->
  <link rel="stylesheet" href="assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css"/>

  <link rel="stylesheet" href="assets/vendor/libs/apex-charts/apex-charts.css"/>

  <!-- Page CSS -->

  <!-- Helpers -->
  <script src="assets/vendor/js/helpers.js"></script>

  <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
  <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
  <script src="assets/js/config.js"></script>
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <!-- Menu -->

    <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
      <div class="app-brand demo">
        <a href="/" class="app-brand-link">
              <span class="app-brand-logo demo">

                  <svg version="1.1" id="Capa_1" xmlns="https://www.w3.org/2000/svg"
                       xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px"
                       viewBox="0 0 59.017 59.017" style="enable-background:new 0 0 59.017 59.017;"
                       xml:space="preserve">
                        <g id="XMLID_13_">
                            <path id="XMLID_118_" style="fill:#F4ADC9;" d="M52.789,34.385c-0.091,0.007-0.179,0.027-0.272,0.027c-1.933,0-3.5-1.567-3.5-3.5
                                c0-1.473,0.912-2.728,2.201-3.244c-1.901-5.09-5.527-8.896-10.073-11.291c-0.004-0.002-0.009-0.002-0.013-0.003
                                c-0.643,1.555-1.608,2.943-2.825,4.069c-4.661-2.452-10.349-2.231-14.829,0.652c-1.792-1.388-3.151-3.296-3.878-5.492
                                c-0.024-0.059-0.055-0.112-0.074-0.175c-1.439,0.451-2.703,0.895-3.517,1.235c-4.193-1.703-7.12-2.439-9.684-2.154
                                c-0.365,0.04-0.434,0.527-0.103,0.686c2.331,1.122,2.739,4.092,3.787,6.314c-3.044,2.932-3.342,5.062-3.879,8.903H4
                                c-2.87,0-4,2.327-4,5.197v3.607c0,2.87,1.13,5.196,4,5.196h1.314c2.982,8.674,13.452,13.316,24.436,13.316
                                c13.393,0,23.267-7.718,23.267-19.316C53.017,37.015,52.936,35.674,52.789,34.385"/>
                            <path id="XMLID_117_" style="fill:#FFFFFF;" d="M16.009,28.912c0,1.381-1.119,2.5-2.5,2.5c-1.381,0-2.5-1.119-2.5-2.5
                                c0-1.381,1.119-2.5,2.5-2.5C14.89,26.412,16.009,27.531,16.009,28.912"/>
                            <path id="XMLID_116_" style="fill:#E685A5;" d="M53.017,38.412c-0.552,0-1-0.448-1-1c0-0.552,0.448-1,1-1c2.206,0,4-1.794,4-4
                                c0-0.552,0.448-1,1-1c0.552,0,1,0.448,1,1C59.017,35.721,56.326,38.412,53.017,38.412"/>
                            <path id="XMLID_115_" style="fill:#E685A5;" d="M58.017,33.412c-0.552,0-1-0.448-1-1c0-2.206-1.794-4-4-4c-0.552,0-1-0.448-1-1
                                c0-0.552,0.448-1,1-1c3.309,0,6,2.691,6,6C59.017,32.965,58.569,33.412,58.017,33.412"/>
                            <path id="XMLID_112_" style="fill:#E685A5;" d="M52.517,35.412c-2.481,0-4.5-2.019-4.5-4.5c0-2.481,2.019-4.5,4.5-4.5
                                c2.481,0,4.5,2.019,4.5,4.5C57.017,33.393,54.998,35.412,52.517,35.412 M52.517,28.412c-1.378,0-2.5,1.122-2.5,2.5
                                c0,1.378,1.122,2.5,2.5,2.5c1.378,0,2.5-1.122,2.5-2.5C55.017,29.534,53.895,28.412,52.517,28.412"/>
                            <path id="XMLID_111_" style="fill:#E685A5;" d="M55.961,31.37c-0.14,0-0.282-0.029-0.417-0.091
                                c-0.502-0.231-0.722-0.825-0.491-1.327c0.603-1.311,0.611-2.817,0.022-4.133c-0.226-0.504,0-1.095,0.504-1.321
                                c0.502-0.228,1.095-0.001,1.321,0.504c0.825,1.843,0.813,3.951-0.03,5.786C56.703,31.154,56.339,31.37,55.961,31.37"/>
                            <path id="XMLID_110_" style="fill:#E685A5;" d="M48.735,50.155c-2.414,2.79-5.738,4.91-9.702,6.187l0.296,0.985
                                c0.21,0.701,0.856,1.182,1.588,1.182h6.017c2.319,0,3.94-2.293,3.169-4.479L48.735,50.155z"/>
                            <path id="XMLID_109_" style="fill:#E685A5;" d="M8.964,50.266L7.351,54.3c-0.807,2.016,0.678,4.209,2.849,4.209h6.741
                                c0.438,0,0.833-0.267,0.996-0.675l0.725-1.814C14.833,54.768,11.459,52.843,8.964,50.266"/>
                            <path id="XMLID_108_" style="fill:#E685A5;" d="M28.399,54.624c-3.732,0-7.126-0.723-10.513-2.222
                                c-0.505-0.223-0.733-0.813-0.509-1.319c0.223-0.505,0.813-0.733,1.319-0.51c3.915,1.734,7.684,2.332,12.227,1.939
                                c0.548-0.058,1.035,0.36,1.082,0.91c0.048,0.551-0.36,1.035-0.91,1.082C30.175,54.584,29.277,54.624,28.399,54.624"/>
                            <path id="XMLID_107_" style="fill:#E685A5;" d="M41.879,24.078c-0.256,0-0.512-0.098-0.707-0.293
                                c-5.364-5.363-14.092-5.363-19.456,0c-0.391,0.391-1.024,0.391-1.414,0c-0.391-0.391-0.391-1.023,0-1.414
                                c6.143-6.144,16.14-6.144,22.284,0c0.391,0.391,0.391,1.023,0,1.414C42.391,23.98,42.135,24.078,41.879,24.078"/>
                            <path id="XMLID_106_" style="fill:#FFD949;" d="M22.692,20.413c4.896-3.273,11.228-3.503,16.332-0.703
                                c1.849-2.038,2.985-4.733,2.985-7.702c0-6.352-5.149-11.5-11.5-11.5c-6.351,0-11.5,5.148-11.5,11.5
                                C19.009,15.334,20.434,18.315,22.692,20.413"/>
                            <path id="XMLID_105_" style="fill:#F4BF1A;" d="M26.79,18.469c2.625-0.807,5.417-0.907,8.088-0.315
                                c1.938-1.356,3.208-3.6,3.208-6.145c0-4.142-3.357-7.5-7.5-7.5c-4.142,0-7.5,3.358-7.5,7.5
                                C23.086,14.764,24.576,17.165,26.79,18.469"/>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        </svg>

                <!--<s<vg
                        width="25"
                        viewBox="0 0 25 42"
                        version="1.1"
                        xmlns="https://www.w3.org/2000/svg"
                        xmlns:xlink="https://www.w3.org/1999/xlink"
                >
                  <defs>

                    <circle cx="140.563" cy="244.134" r="9.484"/>
                    <path d="M438.633,199.94c-4.556,0-8.248,3.693-8.248,8.248v19.68c0,4.555,3.692,8.248,8.248,8.248s8.248-3.693,8.248-8.248     v-19.68C446.88,203.633,443.189,199.94,438.633,199.94z"/>
                    <path d="M475.852,199.94c-4.555,0-8.248,3.693-8.248,8.248v19.68c0,4.555,3.693,8.248,8.248,8.248     c4.556,0,8.248-3.693,8.248-8.248v-19.68C484.1,203.633,480.407,199.94,475.852,199.94z"/>
                    <path d="M492.7,182.699c-3.305-12.686-8.608-24.77-15.636-35.787c6.389-23.12,5.81-53.715-10.428-70.139     c-0.485-0.492-1.03-0.918-1.618-1.271l0.001-0.001c-11.835-7.111-28.055-8.973-45.675-5.243     c-14.677,3.107-29.155,9.877-40.282,18.757c-2.65-0.17-5.307-0.284-7.972-0.284c-6.208,0-12.424,0.465-18.538,1.37     c-4.527-3.998-9.433-7.653-14.534-10.782c-16.205-9.941-32.644-13.572-45.973-10.082c-0.669,0.175-1.31,0.433-1.909,0.765     l-0.001-0.001c-12.149,6.733-20.764,19.039-24.914,35.585c-2.749,10.962-3.327,23.011-1.738,34.783H161.458     c-34.163,0-65.162,13.798-87.725,36.11c-4.883-8.2-13.834-13.709-24.051-13.709c-6.738,0-12.927,2.395-17.76,6.377     c-1.172-4.104-5.318-6.682-9.575-5.81C9.398,165.984,0,177.511,0,190.742c0,15.425,12.55,27.975,27.975,27.975h17.625     c-5.79,14.377-8.984,30.066-8.984,46.491c0,30.975,11.326,60.465,31.96,83.414v87.19c0,4.555,3.692,8.248,8.248,8.248h52.891     c2.187,0,4.284-0.869,5.833-2.416l1.833-1.834l1.833,1.834c1.547,1.547,3.644,2.416,5.833,2.416h35.674     c2.187,0,4.284-0.869,5.833-2.416l1.833-1.834l1.835,1.834c1.546,1.546,3.644,2.415,5.832,2.415h5.125     c4.556,0,8.248-3.693,8.248-8.248v-45.762h25.573v45.762c0,4.555,3.692,8.248,8.248,8.248h52.892c2.187,0,4.285-0.87,5.833-2.416     l1.832-1.833l1.833,1.833c1.547,1.547,3.644,2.416,5.833,2.416h35.676c2.187,0,4.285-0.869,5.832-2.415l1.835-1.834l1.835,1.834     c1.546,1.546,3.643,2.415,5.832,2.415h5.123c4.556,0,8.248-3.693,8.248-8.248v-92.983c0.777-0.975,1.545-1.957,2.293-2.956     c51.177-2.837,95.404-36.388,111.916-84.93c13.063-7.139,21.944-21.008,21.944-36.915C512,203.223,504.3,190.189,492.7,182.699z      M23.836,201.438c-4.289-1.667-7.34-5.827-7.34-10.697c0-4.79,2.998-9.032,7.347-10.712c-1.373,3.301-2.136,6.919-2.136,10.712     C21.705,194.529,22.466,198.14,23.836,201.438z M456.423,90.087c6.093,7.676,9.682,22.204,7.418,39.573     c-4.289-4.702-8.926-9.108-13.912-13.129c-6.786-5.474-14.117-10.186-21.832-14.107     C439.543,93.907,449.726,89.407,456.423,90.087z M421.854,86.542c-3.51,2.441-7.228,5.313-11.15,8.64     c-2.429-0.807-4.877-1.555-7.352-2.214C409.426,89.972,415.716,87.846,421.854,86.542z M298.485,84.723     c1.314-0.205,2.69-0.308,4.112-0.308c15.713,0,37.193,12.829,50.137,29.897c0.032,0.092-0.002,0.197-0.065,0.231l-49.824,27.378     c-0.045,0.024-0.103,0.044-0.166,0.056C297.961,130.468,290.245,96.279,298.485,84.723z M38.201,190.742     c0-6.33,5.151-11.48,11.48-11.48c6.33,0,11.48,5.15,11.48,11.48c0,0.08-0.015,0.158-0.018,0.238     c-2.452,3.306-4.743,6.737-6.865,10.281c-1.441,0.629-3.001,0.962-4.598,0.962C43.352,202.222,38.201,197.072,38.201,190.742z      M192.929,421.261c-3.202-2.117-7.556-1.767-10.377,1.054l-5.249,5.25h-18.885v-37.552c1.017,0.025,2.03,0.037,3.038,0.037     h31.472V421.261z M359.352,421.261c-3.202-2.116-7.555-1.767-10.374,1.054l-5.251,5.25h-18.886v-46.578     c12.535-5.083,24.219-12.263,34.511-21.086V421.261z M373.62,323.546c-2.63,0.059-5.074,1.371-6.578,3.53     c-12.973,18.614-31.855,32.972-53.171,40.426c-3.309,1.158-5.524,4.28-5.524,7.786v45.978c-1.338-0.884-2.916-1.365-4.545-1.365     c-2.187,0-4.285,0.87-5.833,2.416l-5.248,5.249h-41.228v-45.762c0-4.555-3.692-8.248-8.248-8.248h-81.788     c-3.456,0-6.987-0.17-10.498-0.508c-2.315-0.222-4.614,0.543-6.335,2.106c-1.72,1.563-2.701,3.78-2.701,6.104v40.005     c-3.203-2.118-7.556-1.767-10.375,1.052l-5.249,5.25H85.071v-82.167c0-2.111-0.809-4.143-2.262-5.674     c-19.152-20.203-29.699-46.667-29.699-74.516c0-59.742,48.604-108.347,108.346-108.347h111.98c2.538,0,4.934-1.169,6.497-3.167     c1.564-1.999,2.119-4.607,1.507-7.07c-2.236-8.995-2.86-19.016-1.728-28.463c2.184,14.168,6.383,27.031,8.068,30.943     c2.456,5.697,8.247,9.38,14.75,9.38c0.001,0,0.001,0,0.001,0c2.912,0,5.783-0.739,8.279-2.122l49.828-27.379     c8.047-4.464,10.967-14.646,6.499-22.712c-0.108-0.192-0.315-0.54-0.449-0.762c-0.037-0.064-0.082-0.121-0.122-0.184     c1.507-0.063,3.014-0.102,4.521-0.102c25.218,0,48.898,8.35,68.484,24.146c8.876,7.159,16.523,15.666,22.728,25.096     c-1.327-0.719-2.847-1.127-4.464-1.127c-5.178,0-9.377,4.2-9.377,9.38s4.199,9.38,9.377,9.38c5.183,0,9.38-4.2,9.38-9.38     c0-0.008-0.001-0.015-0.001-0.023c2.34,4.337,4.396,8.825,6.131,13.442c-1.118-0.089-2.246-0.148-3.386-0.148h-55.699     c-23.179,0-42.037,18.858-42.037,42.039c0,23.18,18.857,42.037,42.037,42.037h55.699c0.11,0,0.216-0.008,0.324-0.009     C453.048,297.614,415.801,322.585,373.62,323.546z M399.783,239.054c-6.675-4.612-11.062-12.314-11.062-21.025     s4.386-16.413,11.062-21.025c-3.592,6.19-5.659,13.368-5.659,21.025C394.123,225.685,396.192,232.864,399.783,239.054z      M469.963,243.571h-33.801c-14.085,0-25.543-11.459-25.543-25.542c0-14.084,11.459-25.543,25.543-25.543h33.801     c14.085,0,25.542,11.459,25.542,25.543C495.505,232.114,484.047,243.571,469.963,243.571z"/>
                    <path d="M150.171,176.031c-13.334,0-24.181,10.847-24.181,24.18s10.847,24.18,24.181,24.18c13.333,0,24.179-10.847,24.179-24.18     C174.351,186.878,163.505,176.031,150.171,176.031z M150.171,207.895c-4.238,0-7.686-3.448-7.686-7.685s3.449-7.685,7.686-7.685     s7.683,3.447,7.683,7.685C157.856,204.448,154.408,207.895,150.171,207.895z"/>
                    <path d="M97.565,205.217c-13.334,0-24.181,10.847-24.181,24.18s10.847,24.18,24.181,24.18c13.333,0,24.179-10.847,24.179-24.18     S110.897,205.217,97.565,205.217z M97.565,237.081c-4.238,0-7.686-3.448-7.686-7.685c0-4.238,3.449-7.685,7.686-7.685     c4.236,0,7.683,3.448,7.683,7.685S101.801,237.081,97.565,237.081z"/>
                    <path d="M385.249,172.1c5.183,0,9.381-4.2,9.381-9.38s-4.199-9.38-9.381-9.38c-5.178,0-9.377,4.2-9.377,9.38     C375.872,167.899,380.07,172.1,385.249,172.1z"/>

                  </defs>
                  <g id="g-app-brand" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Brand-Logo" transform="translate(-27.000000, -15.000000)">
                      <g id="Icon" transform="translate(27.000000, 15.000000)">
                        <g id="Mask" transform="translate(0.000000, 8.000000)">
                          <mask id="mask-2" fill="white">
                            <use xlink:href="#path-1"></use>
                          </mask>
                          <use fill="#696cff" xlink:href="#path-1"></use>
                          <g id="Path-3" mask="url(#mask-2)">
                            <use fill="#696cff" xlink:href="#path-3"></use>
                            <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-3"></use>
                          </g>
                          <g id="Path-4" mask="url(#mask-2)">
                            <use fill="#696cff" xlink:href="#path-4"></use>
                            <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-4"></use>
                          </g>
                        </g>
                        <g
                                id="Triangle"
                                transform="translate(19.000000, 11.000000) rotate(-300.000000) translate(-19.000000, -11.000000) "
                        >
                          <use fill="#696cff" xlink:href="#path-5"></use>
                          <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-5"></use>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>-->
              </span>
          <span class="app-brand-text demo menu-text fw-bolder ms-2">piggle</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
          <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
      </div>

      <div class="menu-inner-shadow"></div>

      <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item active">
          <a href="/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">메인 페이지</div>
          </a>
        </li>


        <li class="menu-item">
          <a href="profile" class="menu-link">
            <i class="menu-icon tf-icons bx bx-user"></i>
            <div data-i18n="Analytics">내 프로필</div>
          </a>
        </li>

        <li class="menu-item">
          <a href="create_category" class="menu-link">
            <i class="menu-icon tf-icons bx bx-edit-alt"></i>
            <div data-i18n="Analytics">글 작성</div>
          </a>
        </li>

        <li class="menu-header small text-uppercase">
          <span class="menu-header-text">Piggle DAO</span>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-line-chart"></i>
            <div data-i18n="Account Settings">주식 차트</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="chart" class="menu-link">
                <div data-i18n="Account">국내 차트</div>
              </a>
            </li>
            <li class="menu-item disabled">
              <a href="#" class="menu-link">
                <div data-i18n="Notifications">해외 차트 (준비 중)</div>
              </a>
            </li>
          </ul>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-coin"></i>
            <div data-i18n="Authentications">주식 투자</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="vote_stock_active" class="menu-link">
                <div data-i18n="Basic">진행중인 투표</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="vote_stock_close" class="menu-link">
                <div data-i18n="Basic">종료된 투표</div>
              </a>
            </li>
          </ul>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-buildings"></i>
            <div data-i18n="Authentications">DAO 운영</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="vote_dao_active" class="menu-link">
                <div data-i18n="Basic">진행중인 투표</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="vote_dao_close" class="menu-link">
                <div data-i18n="Basic">종료된 투표</div>
              </a>
            </li>
          </ul>
        </li>

        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-cube-alt"></i>
            <div data-i18n="Misc">커뮤니티</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="community" class="menu-link">
                <div data-i18n="Error">분석글</div>
              </a>
            </li>
          </ul>
        </li>

        <!-- Misc -->
        <li class="menu-header small text-uppercase"><span class="menu-header-text">기타</span></li>
        <li class="menu-item">
          <a
                  href="info"
                  class="menu-link"
          >
            <i class="menu-icon tf-icons bx bx-support"></i>
            <div data-i18n="Support">소개</div>
          </a>
        </li>
        <li class="menu-item">
          <a
                  href="history"
                  class="menu-link"
          >
            <i class="menu-icon tf-icons bx bx-file"></i>
            <div data-i18n="Documentation">히스토리</div>
          </a>
        </li>
      </ul>
    </aside>
    <!-- / Menu -->

    <!-- Layout container -->
    <div class="layout-page">
      <!-- Navbar -->
      <nav
              class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
              id="layout-navbar"
      >
        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
          <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="bx bx-menu bx-sm"></i>
          </a>
        </div>

        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
          <!-- Search -->
          <div class="navbar-nav align-items-center">
            <div class="nav-item d-flex align-items-center">
              <i class="bx bx-search fs-4 lh-0"></i>
              <input
                      type="text"
                      class="form-control border-0 shadow-none"
                      placeholder="검색..."
                      aria-label="검색..."
              />
            </div>
          </div>
          <!-- /Search -->

          <ul class="navbar-nav flex-row align-items-center ms-auto">
            <!-- User -->
            <li class="nav-item navbar-dropdown dropdown-user dropdown">
              <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);"
                 data-bs-toggle="dropdown">
                <div class="avatar">
                  <img src="assets/img/avatars/meta.png" alt
                       class="w-px-40 h-auto rounded-circle"/>
                </div>
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item" href="#">
                    <div class="d-flex">
                      <div class="flex-shrink-0 me-3">
                        <div class="avatar">
                          <img src="assets/img/avatars/meta.png" alt
                               class="w-px-40 h-auto rounded-circle"/>
                        </div>
                      </div>
                      <div class="flex-grow-1">
                        <span class="fw-semibold d-block">닉네임</span>
                        <small class="text-muted">0x_wa15ll...i115KDH</small>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <div class="dropdown-divider"></div>
                </li>
                <li>
                  <a class="dropdown-item" href="profile">
                    <i class="bx bx-user me-2"></i>
                    <span class="align-middle">프로필</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="create_1">
                    <i class="bx bx-edit-alt me-2"></i>
                    <span class="align-middle">글 작성</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                    <i class="bx bx-cog me-2"></i>
                    <span class="align-middle">지갑 변경</span>
                  </a>
                </li>

                <li>
                  <div class="dropdown-divider"></div>
                </li>
                <li>
                  <a class="dropdown-item" href="auth-login-basic.html">
                    <i class="bx bx-power-off me-2"></i>
                    <span class="align-middle">로그아웃</span>
                  </a>
                </li>
              </ul>
            </li>
            <!--/ User -->
          </ul>
        </div>
      </nav>

      <!-- / Navbar -->

      <!-- Content wrapper -->
      <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">

          <div class="card p-3">

            <!--Main layout-->
            <main class="mt-4 mb-5">
              <div class="container">
                <!--Grid row-->
                <div class="row">
                  <!--Grid column-->
                  <div class="col-md-8 mb-4  pe-5">
                    <!--Section: Post data-mdb-->
                    <section class="border-bottom mb-4">

                      <div class="row align-items-center mb-1">
                        <h3><strong>제목</strong></h3>
                      </div>


                      <div class="row align-items-center mb-4">
                        <div class="col-lg-6 text-center text-lg-start mb-3 m-lg-0">
                          <div class="profiles">
                            <img class="rounded-circle" src="assets/img/avatars/meta.png" width="24">
                            <span class="ms-2"><b>닉네임</b></span>
                          </div>
                        </div>

                        <div class="col-lg-6 text-center text-lg-end">
                          22.10.27 19:09
                        </div>
                      </div>
                    </section>
                    <!--Section: Post data-mdb-->

                    <!--Section: Text-->
                    <section class="border-bottom mb-3">
                      <p>
                        섹션 시작 (html 편집기 vs 마크다운... 고민중)
                      </p>

                      <p><strong>뭐를 선택하지?</strong></p>

                      <p>
                        스마트 컨트랙트 작성할 수 있다는 기준에서는....
                        일단은 더 알아보도록 하자
                      </p>

                      <p class="note note-light">
                        <strong>Note:</strong> 누가 스마트컨트랙트를 작성한다거나 위치라던가 isfp 를 사용해서 업로드 할 예정인데, 어떻게 표시할지... 미리보기는 어떤 ui로 구현할지
                      </p>

                      <img src="https://mdbootstrap.com/img/new/slides/041.jpg" class="img-fluid shadow-1-strong rounded-5 mb-4"
                           alt="" />

                      <p>
                        에디터를 어떤걸 넣든, 현재 섹션에 넣는건 동일하겠지?
                      </p>
                    </section>
                    <!--Section: Text-->

                    <!--Section: Comments-->
                    <section class="border-bottom mb-3">

                      <!-- Comment -->
                      <div class="row mb-2">


                        <div class="col-10">
                          <h5 class="mb-2"><b>논의</b></h5>

                          <p>
                            링크 북마크 생성
                          </p>
                        </div>
                      </div>
                    </section>
                    <!--Section: Comments-->
                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-md-4 mb-4">
                    <!--Section: Sidebar-->
                    <section class="sticky-top" style="top: 80px;">
                      <!--Section: Ad-->
                      <section class="text-center border-bottom pb-4 mb-4">
                        <div class="bg-image hover-overlay ripple mb-4">
                          <!--<img
                                  src="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/content/en/_mdb5/standard/about/assets/mdb5-about.webp"
                                  class="img-fluid" />
                          <a href="https://mdbootstrap.com/docs/standard/" target="_blank">
                              <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);"></div>
                          </a>-->
                        </div>
                        <h5><b>정보</b></h5>

                        <p>제안자 avatar <br>
                          IPFS #bafkrei <br>
                          투표 유형 기본 투표 <br>
                          시작일 Sep 9, 2022, 8:14 AM <br>
                          종료일 Sep 14, 2022, 8:14 AM <br>
                          스냅샷 <a>15,499,369 <i class="bx bx-link"></i></a>
                        </p>

                      </section>
                      <!--Section: Ad-->

                      <section class="border-bottom pb-4">
                        <h5 class="mb-2 text-center"><b>현황/결과</b></h5>
                        <div class="rating-progress-bars p-2 mt-1">
                          <div class="progress-1 align-items-start">
                            <span class="text-black"><b>찬성</b></span>
                            <div class="progress" style="margin-bottom: 3%">
                              <div class="progress-bar bg-dark" role="progressbar" style="width: 60%;"
                                   aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">70%
                              </div>
                            </div>

                            <span class="text-black"><b>반대</b></span>
                            <div class="progress" style="margin-bottom: 3%">
                              <div class="progress-bar bg-dark" role="progressbar" style="width: 30%;"
                                   aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>

                      <section class="text-start p-2 mt-4">
                        <div class="rating-progress-bars p-2">
                          <div class="d-flex justify-content-between stats mb-2">
                            <h5 class="mb-2"><b>투표 참여자 리스트</b></h5>

                            <!--                                    <div class=""><i class="fa fa-calendar-o"></i><span class="ml-2"><b>투자 제안</b></span>-->
                            <div class="d-flex flex-row align-items-center me-2">
                              <a href="" class="text-black-50"><span>더보기</span></a>
                            </div>
                          </div>
                          <table class="table table-striped">
                            <thead>
                            <tr>
                              <!--                                                            <td>유저</td>-->
                              <!--                                                            <td>선택</td>-->
                              <!--                                                            <td>토큰</td>-->
                            </tr>
                            </thead>
                            <tbody class="table-border-bottom-0">
                            <tr>
                              <td><img class="rounded-circle" src="assets/img/avatars/meta.png" width="24">
                                <span class="ms-2"><b>닉네임</b></span></td>
                              <td>찬성</td>
                              <td>4.0 PIG</td>
                            </tr>
                            <tr>
                              <td><img class="rounded-circle" src="assets/img/avatars/meta.png" width="24">
                                <span class="ms-2"><b>닉네임</b></span></td>
                              <td>반대</td>
                              <td>3.0 PIG</td>
                            </tr>
                            <tr>
                              <td><img class="rounded-circle" src="assets/img/avatars/meta.png" width="24">
                                <span class="ms-2"><b>닉네임</b></span></td>
                              <td>찬성</td>
                              <td>2.4 PIG</td>
                            </tr>
                            <tr>
                              <td><img class="rounded-circle" src="assets/img/avatars/meta.png" width="24">
                                <span class="ms-2"><b>닉네임</b></span></td>
                              <td>반대</td>
                              <td>1.0 PIG</td>
                            </tr>
                            <tr>
                              <td><img class="rounded-circle" src="assets/img/avatars/meta.png" width="24">
                                <span class="ms-2"><b>닉네임</b></span></td>
                              <td>찬성</td>
                              <td>0.1 PIG</td>
                            </tr>


                            </tbody>
                          </table>
                        </div>
                      </section>

                    </section>
                    <!--Section: Sidebar-->
                  </div>
                  <!--Grid column-->
                </div>
                <!--Grid row-->
              </div>
            </main>
          </div>
        </div>
      </div>
      <!-- / Content -->

      <!-- Footer -->
      <footer class="content-footer footer bg-footer-theme">
        <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
          <div class="mb-2 mb-md-0">
            ©
            <script>
              document.write(new Date().getFullYear());
            </script>
            by
            <a href="https://themeselection.com" target="_blank" class="footer-link fw-bolder">Team
              NOVA</a>
          </div>
          <div>
            <a href="https://novarand.site" class="footer-link me-4" target="_blank">라이센스</a>
            <a href="https://novarand.site" target="_blank" class="footer-link me-4">테마 더보기</a>
            <a href="https://novarand.site" target="_blank" class="footer-link me-4">문서</a>
            <a href="https://novarand.site" target="_blank" class="footer-link me-4">깃허브</a>
          </div>
        </div>
      </footer>
      <!-- / Footer -->

      <div class="content-backdrop fade"></div>
    </div>
    <!-- Content wrapper -->
  </div>
  <!-- / Layout page -->
</div>

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->


<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="assets/vendor/libs/jquery/jquery.js"></script>
<script src="assets/vendor/libs/popper/popper.js"></script>
<script src="assets/vendor/js/bootstrap.js"></script>
<script src="assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

<script src="assets/vendor/js/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script src="assets/vendor/libs/apex-charts/apexcharts.js"></script>

<!-- Main JS -->
<script src="assets/js/main.js"></script>

<!-- Page JS -->
<script src="assets/js/dashboards-analytics.js"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<script>
  function home_chart() {
    location.href = 'https://novarand.site'
  }
</script>
</body>
</html>
